/*.gm-ui-hover-effect {
  display: none !important;
}*/

.gm-style-iw {
  background-color: none !important;
  border-radius: 0.4rem !important;
  color: none !important;
  text-align: center !important;
  top: 1rem !important;
  padding: 0 0 0 -0.01rem !important;
  margin: 0 0 0 0rem !important;
}

.gm-style .gm-style-iw-tc::after {
  background: none;
  box-shadow: none;
}
